[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
appdirs = "==1.4.4"
certifi = "==2020.4.5.1"
chardet = "==3.0.4"
click = "==7.1.2"
distlib = "==0.3.0"
filelock = "==3.0.12"
future = "==0.18.2"
gitdb = "==4.0.5"
htmlmin = "==0.1.12"
idna = "==2.9"
importlib-metadata = "==1.6.0"
joblib = "==0.14.1"
jsmin = "==2.2.2"
livereload = "==2.6.1"
lunr = "==0.5.6"
mkdocs = "==1.1"
mkdocs-git-committers-plugin-2 = "==0.3.3"
mkdocs-material = "==5.0.1"
mkdocs-minify-plugin = "==0.3.0"
nltk = "==3.5"
pbr = "==5.4.5"
pipenv = "==2018.11.26"
pipenv-to-requirements = "==0.9.0"
pymdown-extensions = "==7.1"
regex = "==2020.5.7"
requests = "==2.23.0"
six = "==1.14.0"
smmap = "==3.0.4"
tornado = "==6.0.4"
tqdm = "==4.46.0"
urllib3 = "==1.25.9"
v = "==0.0.0"
virtualenv = "==20.0.20"
virtualenv-clone = "==0.5.4"
zipp = "==3.1.0"
GitPython = "==3.1.2"
Jinja2 = "==2.11.2"
Markdown = "==3.2.1"
MarkupSafe = "==1.1.1"
Pygments = "==2.5.2"
PyYAML = "==5.3.1"

[requires]
python_version = "3.7"
